project_venv/
.DS_Store
.env
__pycache__/
test_output_files/
todo.txt
backend/scripts/file_process/screenshots
screenshots/
dump.rdb
experiments/
outputs/
outputs_two/
new_scripts
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
db.sqlite3