<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>TODO:</title>
</head>

<!-- <body class="bg-gray-900 text-gray-300 flex items-center justify-center h-screen"> -->
<body class="bg-gray-900 text-gray-300 font-sans">
<!-- <body class="bg-gray-900 text-white font-sans">     -->

    {% block content %}
    {% endblock %}

</body>
</html>