{% extends 'base.html' %}

{% block content %}

<style>
    /* General styles */
    table {
        border-collapse: separate;
        border-spacing: 0 10px; /* Add vertical spacing between rows */
        width: 100%;
    }

    th {
        cursor: pointer;
        user-select: none;
    }

    .sort-arrows {
        /* display: inline-flex;
        flex-direction: column;
        margin-left: 5px; */
        display: inline-flex;
        flex-direction: row;
        gap: 2px; /* Adjust spacing between arrows */
        font-size: 0.8em; /* Adjust size of the arrows */
        vertical-align: middle;
    }

    .sort-arrow {
        font-size: 10px;
        color: gray;
        transition: color 0.3s ease;
        padding-left: 5px;
    }

    .sort-arrow:hover {
        color: white;
    }

    tbody tr:hover {
        background-color: #2d3748; /* Slightly lighter gray for hover */
        cursor: pointer;
    }

    tbody tr td {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
</style>

<!-- Top Navbar -->
<nav class="bg-gray-800 sticky top-0 z-50 shadow-lg">
    <div class="max-w-7xl mx-auto">
        <div class="flex justify-between h-12">
            <div class="flex-shrink-0 flex items-center">
                <span class="text-2xl font-bold text-white">
                    AI File
                </span>
            </div>
            <div class="flex items-center">
                <a href="#" class="text-gray-300 hover:text-white px-4 py-2 rounded-md font-normal" style="font-size: 15px;">
                    Dashboard
                </a>
                <a href="#" class="text-gray-300 hover:text-white px-4 py-2 rounded-md font-normal" style="font-size: 15px;">
                    Settings
                </a>
                <a href="#" class="text-gray-300 hover:text-white px-4 py-2 rounded-md font-normal" style="font-size: 15px;">
                    Logout
                </a>
            </div>
        </div>
    </div>
    <hr class="border-gray-700">
</nav>

<!-- Main -->
<div class="flex">
    
    <!-- Vertical Navbar -->
    <aside class="bg-gray-800 w-56 sticky top-16 h-screen p-4 py-6">
        <nav class="space-y-4">
            <a href="#" class="text-base font-medium text-gray-300 hover:text-white flex items-center">
                <svg class="h-6 w-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m2 12H7a2 2 0 01-2-2V6a2 2 0 012-2h5.4a2 2 0 011.6.8l2.4 2.9a2 2 0 001.6.8H19a2 2 0 012 2v11a2 2 0 01-2 2z"></path></svg>
                All Files
            </a>
            <a href="#" class="text-base font-medium text-gray-300 hover:text-white flex items-center">
                <svg class="h-6 w-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7a4 4 0 014-4h10a4 4 0 014 4v10a4 4 0 01-4 4H7a4 4 0 01-4-4V7z"></path></svg>
                Documents
            </a>
            <a href="#" class="text-base font-medium text-gray-300 hover:text-white flex items-center">
                <svg class="h-6 w-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 19V6l12 7-12 6z"></path></svg>
                Media Files
            </a>
            <a href="#" class="text-base font-medium text-gray-300 hover:text-white flex items-center">
                <svg class="h-6 w-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4a1 1 0 011-1h14a1 1 0 011 1v16a1 1 0 01-1 1H4a1 1 0 01-1-1V4z"></path></svg>
                Code Files
            </a>
            <a href="#" class="text-base font-medium text-gray-300 hover:text-white flex items-center">
                <svg class="h-6 w-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v8m4-4H8"></path></svg>
                Others
            </a>
        </nav>
        <hr class="border-gray-700 mt-4">
    </aside>

    <main class="flex-1 p-6">

        <!-- Search Bar -->
        <div class="mb-6 flex justify-center">
            <input 
                type="text" 
                placeholder="Search..." 
                class="w-1/3 p-2 px-3 rounded-lg bg-gray-800 border border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
                style="background-color: rgb(55 65 81);"
            >
            <button 
                type="button" 
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 ml-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
            >Search</button>
        </div>

        <h3 class="text-2xl font-bold mb-4">
            Categories
        </h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6" id="category-list">

            {% for l in categorized_files %}

                <div class="bg-gray-800 p-4 rounded-lg shadow-lg hover:bg-gray-700 cursor-pointer category-card" data-category="{{ l.0 }}">                    
                    <h2 class="text-xl font-bold mb-2">
                        {{ l.0 }}
                    </h2>
                    <p class="text-gray-400">{{ l.1|length }} Files</p>
                </div>

            {% endfor %}

        </div>

        <div class="mt-8">
            <h3 id="recent-files-header" class="text-2xl font-bold mb-4">
                Recent Files
            </h3>

            <!-- <ul id="recent-files-list" class="space-y-2">
                <li class="bg-gray-800 p-3 rounded-lg shadow-md flex justify-between items-center">
                    <span>File 1.pdf</span>
                    <span class="text-gray-400">PDF Document</span>
                </li>

                <li class="bg-gray-800 p-3 rounded-lg shadow-md flex justify-between items-center">
                    <span>File 2.png</span>
                    <span class="text-gray-400">Image File</span>
                </li>

                <li class="bg-gray-800 p-3 rounded-lg shadow-md flex justify-between items-center">
                    <span>File 2.png</span>
                    <span class="text-gray-400">Image File</span>
                </li>
            </ul> -->

            <div class="mb-8">
                <div class="flex justify-between items-center">
                    <h2 class="text-lg font-semibold">Files</h2>
                    <a href="#" class="text-blue-400">View All</a>
                </div>
                <div class="bg-gray-800 rounded-lg mt-4">

                    <table class="min-w-full table-auto">
 
                        <thead>
                            <tr>
                                <th class="px-4 py-2 text-left text-base font-semibold text-gray-400">
                                Name
                                <span class="sort-arrows">
                                    <span class="sort-arrow" data-order="asc">▲</span>
                                    <span class="sort-arrow" data-order="desc">▼</span>
                                </span>
                                </th>

                                <th class="px-4 py-2 text-left text-base font-semibold text-gray-400">
                                    Type 
                                <span class="sort-arrows">
                                    <span class="sort-arrow" data-order="asc">▲</span>
                                    <span class="sort-arrow" data-order="desc">▼</span>
                                </span>

                                <th class="px-4 py-2 text-left text-base font-semibold text-gray-400">
                                    Size 
                                <span class="sort-arrows">
                                    <span class="sort-arrow" data-order="asc">▲</span>
                                    <span class="sort-arrow" data-order="desc">▼</span>
                                </span>

                                <th class="px-4 py-2 text-left text-base font-semibold text-gray-400">
                                    Last Modified
                                <span class="sort-arrows">
                                    <span class="sort-arrow" data-order="asc">▲</span>
                                    <span class="sort-arrow" data-order="desc">▼</span>
                                </span>

                                <th class="px-4 py-2 text-left text-base font-semibold text-gray-400">
                                    Sub Categories
                                <span class="sort-arrows">
                                    <span class="sort-arrow" data-order="asc">▲</span>
                                    <span class="sort-arrow" data-order="desc">▼</span>
                                </span>
                            </tr>                            
                        </thead>

                        <tbody class="bg-gray-800">
                            <tr>
                                <td class="px-4 py-2 text-sm text-gray-300">Project_Plan.docx</td>
                                <td class="px-4 py-2 text-sm text-gray-300">Document</td>
                                <td class="px-4 py-2 text-sm text-gray-300">1.2 MB</td>
                                <td class="px-4 py-2 text-sm text-gray-300">2024-07-28</td>
                                <td class="px-4 py-2 text-sm text-gray-300">Work, Planning</td>
                            </tr>
                            <tr>
                                <td class="px-4 py-2 text-sm text-gray-300">Logo_Design.png</td>
                                <td class="px-4 py-2 text-sm text-gray-300">Image</td>
                                <td class="px-4 py-2 text-sm text-gray-300">3.4 MB</td>
                                <td class="px-4 py-2 text-sm text-gray-300">2024-08-01</td>
                                <td class="px-4 py-2 text-sm text-gray-300">Branding, Design</td>
                            </tr>
                            <tr>
                                <td class="px-4 py-2 text-sm text-gray-300">Music_Track.mp3</td>
                                <td class="px-4 py-2 text-sm text-gray-300">Audio</td>
                                <td class="px-4 py-2 text-sm text-gray-300">7.5 MB</td>
                                <td class="px-4 py-2 text-sm text-gray-300">2024-07-25</td>
                                <td class="px-4 py-2 text-sm text-gray-300">Entertainment, Audio</td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- <table class="min-w-full table-auto">
                        <thead class="bg-gray-700">
                            <tr>
                                <th class="px-4 py-2 text-left text-sm font-semibold text-gray-400">Name</th>
                                <th class="px-4 py-2 text-left text-sm font-semibold text-gray-400">Type</th>
                                <th class="px-4 py-2 text-left text-sm font-semibold text-gray-400">Size</th>
                                <th class="px-4 py-2 text-left text-sm font-semibold text-gray-400">Last Modified</th>
                                <th class="px-4 py-2 text-left text-sm font-semibold text-gray-400">Sub Categories</th>
                            </tr>
                        </thead>
                        
                        <tbody class="bg-gray-800">
                            <tr>
                                <td class="px-4 py-2 text-sm text-gray-300">Project_Plan.docx</td>
                                <td class="px-4 py-2 text-sm text-gray-300">Document</td>
                                <td class="px-4 py-2 text-sm text-gray-300">1.2 MB</td>
                                <td class="px-4 py-2 text-sm text-gray-300">2024-07-28</td>
                                <td class="px-4 py-2 text-sm text-gray-300">Work, Planning</td>
                            </tr>
                            <tr>
                                <td class="px-4 py-2 text-sm text-gray-300">Logo_Design.png</td>
                                <td class="px-4 py-2 text-sm text-gray-300">Image</td>
                                <td class="px-4 py-2 text-sm text-gray-300">3.4 MB</td>
                                <td class="px-4 py-2 text-sm text-gray-300">2024-08-01</td>
                                <td class="px-4 py-2 text-sm text-gray-300">Branding, Design</td>
                            </tr>
                            <tr>
                                <td class="px-4 py-2 text-sm text-gray-300">Music_Track.mp3</td>
                                <td class="px-4 py-2 text-sm text-gray-300">Audio</td>
                                <td class="px-4 py-2 text-sm text-gray-300">7.5 MB</td>
                                <td class="px-4 py-2 text-sm text-gray-300">2024-07-25</td>
                                <td class="px-4 py-2 text-sm text-gray-300">Entertainment, Audio</td>
                            </tr>
                        </tbody>
                    </table> -->

                </div>
            </div>

        </div>

    </main>

</div>

<input type="hidden" value="{{ sorted_list_json }}" id="categorized_file_input"/>


<script>
    // Get the categorized files from the hidden input
    let sorted_file_list = JSON.parse(document.getElementById('categorized_file_input').value);
    console.log('slist:', sorted_file_list);

    let file_category_dict = {};
    for (i=0; i<=sorted_file_list.length-1; i++){
        let sub_list = sorted_file_list[i];
        file_category_dict[sub_list[0]] = sub_list[1];
    }
    console.log('ctg-dict:', file_category_dict);

    // Function to render files in the "Recent Files" section
    function renderFiles(category) {

        const category_files = file_category_dict[category];

        document.getElementById('recent-files-header').textContent = category + " Files";
        const fileList = document.getElementById('recent-files-list');
        fileList.innerHTML = ''; // Clear any existing files

        if (category_files) {
            // const files = categoryData[1]; // Array of file objects
            category_files.forEach(file => {
                console.log('file-info:', file)
                const fileElement = document.createElement('li');
                fileElement.className = 'bg-gray-800 p-3 rounded-lg shadow-md flex justify-between items-center';
                fileElement.innerHTML = `
                    <span>${file['entity_type']}</span>
                    <span class="text-gray-400">temp</span>
                `;
                fileList.appendChild(fileElement);
            });
        }

        // // Find the category in the sorted_file_list
        // const categoryData = sorted_file_list.find(item => item[0] === category);

        // // Update the header to the selected category
        // document.getElementById('recent-files-header').textContent = category;

        // // Get the file list element
        // const fileList = document.getElementById('recent-files-list');
        // fileList.innerHTML = ''; // Clear any existing files

        // // If the category was found, populate the files
        // if (categoryData) {
        //     const files = categoryData[1]; // Array of file objects
        //     files.forEach(file => {
        //         const fileElement = document.createElement('li');
        //         fileElement.className = 'bg-gray-800 p-3 rounded-lg shadow-md flex justify-between items-center';
        //         fileElement.innerHTML = `
        //             <span>${file.entity_type}</span>
        //             <span class="text-gray-400">${file.primary_key}</span>
        //         `;
        //         fileList.appendChild(fileElement);
        //     });
        // }
    }

    // Add click event listeners to each category card
    document.querySelectorAll('.category-card').forEach(card => {
        card.addEventListener('click', function() {
            const category = this.dataset.category;
            renderFiles(category);
        });
    });


    // Sorting functionality
    document.querySelectorAll('.sort-arrow').forEach(function(arrow) {
        arrow.addEventListener('click', function() {
            var order = this.getAttribute('data-order');
            var column = this.closest('th').textContent.trim();
            var tbody = this.closest('table').querySelector('tbody');
            var rows = Array.from(tbody.querySelectorAll('tr'));

            // Determine the column index
            var columnIndex = Array.from(this.closest('tr').children).indexOf(this.closest('th'));

            // Sort rows based on the column and order
            rows.sort(function(a, b) {
                var cellA = a.children[columnIndex].textContent.trim();
                var cellB = b.children[columnIndex].textContent.trim();

                if (order === 'asc') {
                    return cellA.localeCompare(cellB, undefined, {numeric: true, sensitivity: 'base'});
                } else {
                    return cellB.localeCompare(cellA, undefined, {numeric: true, sensitivity: 'base'});
                }
            });

            // Reorder rows
            rows.forEach(function(row) {
                tbody.appendChild(row);
            });
        });
    });

</script>

{% endblock %}